:root {
    --blue-100: #e1f3f9;
    --blue-300: #60cfe7;
    --blue-500: #057baf;
    --blue-700: #02477d;
    --blue-900: #002453;
    --green-300: #88ea83;
    --green-500: #32bc45;
    --green-700: #19873c;
    --green-900: #095a32;
    --darkblue-300: #62e0f6;
    --darkblue-500: #00a2e2;
    --darkblue-700: #005ea2;
    --darkblue-900: #00306c;
    --orange-300: #f8e563;
    --orange-500: #eac300;
    --orange-700: #a88600;
    --orange-900: #705500;
    --red-100: #fce5cf;
    --red-300: #f19970;
    --red-500: #d13617;
    --red-700: #960d0b;
    --black-100: #f2f2f2;
    --black-300: #b2b2b2;
    --black-500: #555556;
    --black-700: #000000;
  }

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    box-sizing: border-box;
}

/* TOP BAR */
.top-bar{
    background-color: #02477D;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    padding: 0px 1rem;
    box-sizing: border-box;
    align-items: center;
    position: sticky;
    top: 0;
}

.top-bar-left{
    display: flex;
    height: 100%;
    align-items: center;
}

.top-bar-right{
    display: flex;
    align-items: center;
}

.top-bar-right button{
    background-color: transparent;
    border: none;
}

.top-bar-right button img{
}

.top-bar button{
    height: 3rem;
    width: 3rem;
}

.top-bar .back{
    border-radius: 50%;
    background-color: white;
    color: #02477D;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
    border: none;
}

.top-bar-menu-name{
    font-size: 1.5rem;
    color: white;
}



/* NAV */
.margin-top{
    margin-top: 8vh;
    width: 100%;
    border: red;
}

nav{
    height: 25vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    bottom: 0;
    z-index: 19;
    justify-content: center;
    align-items: center;
    position: fixed;
    box-shadow: 0px -1px 5px 0px #000000bf;
    background-color: white;
    translate: 0 17vh;
    animation:forwards 1s;
    transition:ease-in-out;
}

.nav-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #B2B2B2;
    padding: 0.5rem;
    font-size: 4vw;
}

.nav-link:hover{
    color: #02477D;
}

.nav-link:hover svg path{
    fill: #02477D;
}
svg{
    height: 100%;
    width: fit-content;
}

svg:hover{
    color: #02477D;
}

svg path{
    fill: #B2B2B2;
}

.active{
    fill: #02477D;
}

.open-nav{
    position: absolute;
    margin-left: 45vw;
    top: -2vh;
    width: 10vw;
    height: 10vw;
    z-index: 19;
    border-radius: 50%;
    background-color: white;
    color: #02477D;
    border: none;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

#check-nav{
    display: none;
}

@keyframes moveup {
    from{
        translate: 0 0vh;
          
    }
    to{
        translate :0 17vh;
    }
}

@keyframes movedown {
    from{
        translate: 0 17vh;
    }
    to{
        translate :0 0vh;
    }
}