@import url(../global.css);

body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
}



/* PROFILE BACKGROUND AND PICTURE */
.profile-container{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -99;
}

.profile-container-2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.profile-picture{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    background-color: white;
}

.profile-picture img{
    width: 100%;
    height: 100%;
}


.profile-name{
    font-size: 2rem;
    color: white;
}

.profile-clan{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.profile-clan-logo{
    height: 100%;
}

.profile-clan-name{
    color: white;
    font-weight: 300;
    margin-left: 0.2rem;
    font-size: 1rem;
}

/* PROFILE INFORMATION */
.profile-information{
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #C7EDF8;
}

.info-container{
    width: 80%;
    background-color: white;
    border-radius: 0.5rem;
}

.description{
    height: 30%;
    padding: 0.5rem;
    font-size: 0.8rem;
    overflow: scroll;
    text-align: justify;
}

.general{
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.general-container{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    align-items: center;
    text-align: center;
    width: 100%;
}

.general h3{
    margin-bottom: 1rem;
}
.info{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.info .title{
    font-size: 0.8rem;
    height: 30%;
    color: lightgrey;
}

.info .value{
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

#birthday{
    font-size: 0.7rem;
}

#avatar{
    width: 100%;
    height: 100%;
}

#avatar img{
    width: 40%;
}

/* BOTTOM BAR */
.bottom-bar{
    display: flex;
    justify-content: space-between;
    background-color: #C7EDF8;
    height: 3rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    
}

.bottom-bar .edit{
    height: 100%;
    color: #00A2E2;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
    border: transparent;
}

.edit-right{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* EDIT FORM */
.edit-form-container{
    display: none;
    justify-content: center;
    align-items: center;
}

.edit-form-container::after{
    content: '';
    opacity: 0.8;
    background-color: black;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.edit-form{
    height: 70vh;
    width: 80vw;
    border: solid white;
    background-color: white;
    position: fixed;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.edit-title{
    margin: 1rem 0;
    height: 3rem;
    font-size: 2rem;
    text-align: center;
}

.edit-format-container{
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.form-format{
    display: flex;
    flex-direction: column;
    width: 80%;
    border: #00A2E2;
}

.field-name{
    font-size: 1rem;
    color: lightgrey;
}

.field{
    width: 100%;
    border-radius: 0.3rem;
    height: 6vh;
    padding: 1rem;
    font-size: 1rem;
    border: lightgrey solid;
    color: grey;
}

.field:focus{
    border: black solid;
    color: black;
}

#gender{
    display: flex;
}

.list{
    font-size: 0.9rem;
    padding-right: 2rem;
}

.edit-bgphoto{
    width: 100%;
    height: 6vh;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    color: grey;
}

.change{
    background-color: #60afce;
    width: 47%;
    height: 100%;
    border-radius: 0.3rem;
    color: white;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

button[type=submit]{
    margin-top: 1rem;
    background-color: #00A2E2;
    color: white;
    border: none;
    font-size: 1rem;
}

input[type=file]{
    opacity: 0;
    position: absolute;
    z-index: -1
}

.close{
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    color: grey;
    font-size: 2rem;
    border: transparent;
    background-color: transparent;
}

