@import "../global.css";

.container {
  background-color: white;
}

.logo {
  flex-basis : 25%;
  display : flex;
  justify-content : center;
  align-items : center;
}

.logo img {
  height : 70%;
}

.error {
  background-color : rgba(241, 153, 112, .5);
  width : 80%;
  color : var(--red-700);
  border : 1px solid var(--red-700);
  border-radius : 3px;
  padding : 5px;
  text-align : center;
}

.username-pass-container {
  flex-basis : 45%;
  display : flex;
  flex-direction: column;
  align-items : center;
  justify-content: center;
  gap : 15px 0;
}

.login {
  font-size : 30px;
  margin-bottom : 20px;
}

.field {
  background-color : pink;
  width : 80%;
  position : relative;
}

.field input {
  border : none;
  outline : none;
  border-radius : 5px;
  padding : 10px;
  width : 100%;
  font-size : 16px;
  border : 1px solid rgba(70, 70, 70, .5);
}

.field input:focus {
  border : 2px solid #02477d;
}

.field input:focus + label {
  top : -10px;
  color : #02477d;
  font-size : 14px;
}

.field input:not(:focus):not(:placeholder-shown) + label {
  top : -10px;
  color : rgba(70, 70, 70, .5);
  font-size : 14px;
}

.field label {
  position : absolute;
  top : 10px;
  left : 10px;
  background-color : white;
  padding : 0 5px;
  color : rgba(70, 70, 70, .7);
  transition : .2s;
}


.show-pass {
  font-size : 14px;
  width : 80%;
  cursor : pointer;
}

.show-pass input {
  margin-right : 5px;
}

.btn {
  border : none;
  outline : none;
  border-radius : 10px;
  height : 45px;
  color : white;
}

.btn-login {
  background-color : #057baf;
  width : 60%;
  margin-top : 10px;
}

.or {
  flex-basis : 5%;
  display : flex;
  align-items : center;
  justify-content: center;
}

.or div {
  height : 1px;
  width : 100%;
  background-color: rgba(70, 70, 70, .5);
}

.or span {
  margin : 12px;
}

.facebook-google-container {
  display : flex;
  flex-basis : 15%;
  align-items : center;
  justify-content : center;
  gap : 12px;
}

.btn-facebook, .btn-google {
  background-color: #00a2e2;
  display : flex;
  align-items : center;
  width : 40%;
  justify-content : center;
  gap : 10px;
}

.sign-up {
  flex-basis : 10%;
  display : flex;
  align-items: center;
  justify-content: center;
  font-size : 14px;
}

.sign-up a{
  text-decoration: none;
}


