* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  font-family: 'Roboto', sans-serif;
  font-size : 16px;
}

.container {
  width : 100vw;
  height : 100vh;
  display : flex;
  overflow: hidden;
  align-items : center;
  justify-content: center;
}

.inner-container {
  height : 85%;
  width : 80%;
  display : flex;
  flex-direction : column;
}

.logo {
  flex-basis : 25%;
  display : flex;
  justify-content : center;
  align-items : center;
}

.logo img {
  height : 70%;
}

.username-pass-container {
  flex-basis : 75%;
  display : flex;
  flex-direction: column;
  align-items : center;
  justify-content: center;
  gap : 22px 0;
}

.signup {
  font-size : 30px;
  margin-bottom : 20px;
}

.field {
  background-color : pink;
  width : 80%;
  position : relative;
}

.field input {
  border : none;
  outline : none;
  border-radius : 5px;
  padding : 10px;
  width : 100%;
  font-size : 16px;
  border : 1px solid rgba(70, 70, 70, .5);
}

.field input:focus {
  border : 2px solid #02477d;
}

.field input:focus + label {
  top : -10px;
  color : #02477d;
  font-size : 14px;
}

.field input:not(:focus):not(:placeholder-shown) + label {
  top : -10px;
  color : rgba(70, 70, 70, .5);
  font-size : 14px;
}

.field label {
  position : absolute;
  top : 10px;
  left : 10px;
  background-color : white;
  padding : 0 5px;
  color : rgba(70, 70, 70, .7);
  transition : .2s;
}

.show-pass {
  font-size : 14px;
  width : 80%;
  cursor : pointer;
}

.show-pass input {
  margin-right : 5px;
}

.btn {
  border : none;
  outline : none;
  border-radius : 10px;
  height : 45px;
  color : white;
}

.btn-signup {
  background-color : #057baf;
  width : 60%;
  margin-top : 10px;
}

