* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
  font-family: 'Roboto', sans-serif;
  font-size : 16px;
}

.container {
  width : 100vw;
  height : 100vh;
  display : flex;
  overflow: hidden;
  align-items : center;
  justify-content: center;
  background-color: #002453;
}

.inner-container {
  height : 90%;
  width : 85%;
  display : flex;
  flex-direction : column; 
}

.hide {
  display : none!important;
}

.game-start-page {
  color : white;
}

.todays-game {
  font-size : 24px;
  margin-bottom : 100px;
}

.game-img {
  width : 100%;
  display : flex;
  align-items: center;
  justify-content: center;
}

.game-img img {
  width : 300px;
}

.game-details .title {
  font-size : 20px;
  text-align : center;
  margin-top : 30px;
  margin-bottom : 10px;
}

.game-details .desc {
  text-align : center;
  line-height : 20px;
  margin-bottom : 40px;
}

.btn {
  border : none;
  outline : none;
  border-radius : 10px;
  height : 40px;
  color : white;
}

.start {
  width : 100%;
  display : flex;
  align-items: center;
  justify-content: center;
}

.btn-start {
  width : 60%;
  background-color : #057baf;
}

.question-answer-container {
  height : 100%;
  display : flex;
  flex-direction : column;
}

.question-container {
  flex-basis : 30%;
  display: flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
}

.status-container {
  flex-basis : 5%;
  display : flex;
  align-items: center;
  justify-content: center;
}

.status {
  color : white;
}

.question-number {
  margin-bottom : 15px;  
  color : #e1f3f9;
}

.question {
  font-size : 28px;
  text-align : center;
  font-weight : bold;
  color : white;
}

.answers {
  flex-basis : 45%;
  display : grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-areas : 
    "ans1 ans2"
    "ans3 ans4";
  grid-template-columns : repeat(2, 1fr);
  grid-template-rows : repeat(2, 1fr);
  
  align-items : center;
  justify-items: center;
  overflow : hidden;
}

.btn-answer-1 {
  grid-area : ans1;
}
.btn-answer-2 {
  grid-area : ans2;
}
.btn-answer-3 {
  grid-area : ans3;
}
.btn-answer-4 {
  grid-area : ans4;
}

.btn-answer {
  width : 160px;
  height : 160px;
  font-size : 20px;
  display : flex;
  align-items: center;
  justify-content: center;
  cursor : pointer;
  text-align : center;
}

.btn-answer-1 {
  background-color: #057baf;
}

.btn-answer-2 {
  background-color: #eac300;
}

.btn-answer-3 {
  background-color: #f19970;
}

.btn-answer-4 {
  background-color: #88ea83;
}

.score-container {
  flex-basis : 5%;
  display : flex;
  align-items: center;
  justify-content: flex-end;
}

.next {
  flex-basis : 15%;
  width : 100%;
  display : flex;
  align-items: center;
  justify-content: flex-end;
}

.next-btn {
  background-color: #057baf;
  width : 30%;
}

.star svg {
  color : white;
  width : 30px;
  height : 30px;
  margin-right : 5px;
}

.score,
.score > span {
  color : white;
  font-size : 18px;
}

.true {
  border : 1px solid #19873c;
  background-color : rgba(136, 234, 131, .8);
}

.false {
  border : 1px solid #960d0b;
  background-color : rgba(241, 153, 112, .8);
}

.green {
  background-color : #32bc45;
  cursor : default;
}

.red {
  background-color : #d13617;
  cursor : default;
}

.game-finish-page {
  height : 100%;
  display : flex;
  flex-direction: column;
  align-items: center;
  color : white;
  gap : 20px;

}

.answered-correct {
  font-size : 18px;
  text-align : center;
}

.answered-correct span {
  font-size : 18px;
}

.game-finish-page .title {
  font-size : 28px;
  text-align : center;
}

.game-finish-page .title span {
  font-size : 34px;
}

.trophy-img img {
  width : 200px;
  font-weight : bold;
}

.back {
  width : 100%;
  margin-top : 30px;
  display : flex;
  justify-content: center;
}

.btn-back {
  background-color: #057baf;
  width : 80%;
}