@import "../../global.css";


.inner-container {
  height : 90%;
  width : 85%;
  flex-direction : column; 
}

.hide {
  display : none!important;
}

.game-start-page {
  color : white;
}

.game-start-page .todays-game {
  font-size : 24px;
  margin-bottom : 100px;
}

.game-start-page .game-img {
  width : 100%;
  display : flex;
  align-items: center;
  justify-content: center;
}

.game-start-page .game-img img {
  width : 300px;
}

.game-start-page .game-details .title {
  font-size : 20px;
  text-align : center;
  margin-top : 30px;
  margin-bottom : 10px;
}

.game-start-page .game-details .desc {
  text-align : center;
  line-height : 20px;
  margin-bottom : 40px;
}

.game-start-page .start {
  width : 100%;
  display : flex;
  align-items: center;
  justify-content: center;
}

.game-start-page .btn-start {
  width : 60%;
  background-color : #057baf;
}

.question-answer-container {
  height : 100%;
  display : flex;
  flex-direction : column;
}

.question-answer-container .question-container {
  flex-basis : 30%;
  display: flex;
  flex-direction : column;
  justify-content: center;
  align-items: center;
}

.question-answer-container .status-container {
  flex-basis : 5%;
  display : flex;
  align-items: center;
  justify-content: center;
}

.question-answer-container .status {
  color : white;
}

.question-answer-container .question-number {
  margin-bottom : 15px;  
  color : #e1f3f9;
}

.question-answer-container .question {
  font-size : 28px;
  text-align : center;
  font-weight : bold;
  color : white;
}

.question-answer-container .answers {
  flex-basis : 45%;
  display : grid;
  grid-template-areas : 
    "ans1 ans2"
    "ans3 ans4";
  grid-template-columns : repeat(2, 1fr);
  grid-template-rows : repeat(2, 1fr);
  align-items : center;
  justify-items: center;
  overflow : hidden;
}

.question-answer-container .btn-answer-1 {
  grid-area : ans1;
  background-color: #057baf;
}
.question-answer-container .btn-answer-2 {
  grid-area : ans2;
  background-color: #eac300;
}
.question-answer-container .btn-answer-3 {
  grid-area : ans3;
  background-color: #f19970;
}
.question-answer-container .btn-answer-4 {
  grid-area : ans4;
  background-color: #88ea83;
}

.question-answer-container .btn-answer {
  width : 160px;
  height : 160px;
  font-size : 20px;
  display : flex;
  align-items: center;
  justify-content: center;
  cursor : pointer;
  text-align : center;
}

.question-answer-container .score-container {
  flex-basis : 5%;
  display : flex;
  align-items: center;
  justify-content: flex-end;
}

.question-answer-container .next {
  flex-basis : 15%;
  width : 100%;
  display : flex;
  align-items: center;
  justify-content: flex-end;
}

.question-answer-container .next-btn {
  background-color: #057baf;
  width : 30%;
}

.question-answer-container .star svg {
  color : white;
  width : 30px;
  height : 30px;
  margin-right : 5px;
}

.question-answer-container .score,
.question-answer-container .score > span {
  color : white;
  font-size : 18px;
}

.question-answer-container .true {
  border : 1px solid #19873c;
  background-color : rgba(136, 234, 131, .8);
}

.question-answer-container .false {
  border : 1px solid #960d0b;
  background-color : rgba(241, 153, 112, .8);
}

.question-answer-container .green {
  background-color : #32bc45;
  cursor : default;
}

.question-answer-container .red {
  background-color : #d13617;
  cursor : default;
}

.game-finish-page {
  height : 100%;
  display : flex;
  flex-direction: column;
  align-items: center;
  color : white;
  gap : 20px;
}

.game-finish-page .answered-correct {
  font-size : 18px;
  text-align : center;
}

.game-finish-page .answered-correct span {
  font-size : 18px;
}

.game-finish-page .title {
  font-size : 28px;
  text-align : center;
}

.game-finish-page .title span {
  font-size : 34px;
}

.game-finish-page .trophy-img img {
  width : 200px;
  font-weight : bold;
}

.game-finish-page .back {
  width : 100%;
  margin-top : 30px;
  display : flex;
  justify-content: center;
}

.game-finish-page .btn-back {
  background-color: #057baf;
  width : 80%;
}